@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");
@import url("components/footer.css");
@import url("components/nav.css");
@import url("components/project_container.css");

body {
background-color: #f0f0f0;
font-family: 'Raleway', sans-serif;
color: black;
font-size: 17px;
text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  color: black;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
}

a:hover {
  text-decoration-line: underline;
}
