.banner {
    display: flex; /* Make the banner a flexbox container */
    width: 100%; /* Take up the full width */
    background-color: #f0f0f0; /* Light grey background */
    padding-top: 100px;
  }

.banner-text {
    flex: 2; /* Text section takes up 2/3 of the space */
    padding: 2em; /* Add some padding */
    color: #333; /* Text color */
    align-content: center;
    padding-right: 10%;
  }

.banner-text h1 {
    font-size: 3em; /* Adjust based on your design */
}

.banner-text h2 {
	font-size: 1.5em;
	font-weight: lighter;
}

.banner-image {
    flex: 1; /* Image section takes up 1/3 of the space */
    align-content: center;
  }
  
  .banner-image img {
    width: 70%; /* Make the image fit the width of the container */
    height: auto; /* Maintain image aspect ratio */
    padding: 10px; /* Add some padding */
    border-radius: 50%;
  }
  
  @media screen and (max-width: 768px) {
    /* For screens smaller than 768px */
    .banner {
      flex-direction: column; /* Stack elements vertically */
    }
    
    .banner-text,
    .banner-image {
      flex: none; /* Remove flex proportions for smaller screens */
      width: 100%; /* Make elements take full width */
    }
  }