.button{
    background-color: #f0f0f0;
    color:  black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 17px;
    margin-bottom: 10px;
}

.button_container{
    display: flex;
    justify-content: left;
    flex-wrap: wrap ;
}