.cards {
	display: flex;
	flex-wrap: wrap ;
	justify-content: center;
}

.card {
	background-color: white;
	width: 250px;
	padding: 10px;
	text-align: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 5px;
	flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}

.card img {
	width: 250px;
	height:  auto;
	}

.card h3 {
	flex-grow: 1;
}

.card h4 {
	font-weight: normal;
}
