.footer {
    padding:  20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
}

.footer img {
    width: 120px;
    height:  auto;
    margin-right: 15px;
}

.footer a {
  color: black;
  font-size: 25px;
}

.footer a:hover {
  color: grey;
}

.list-inline {
  list-style: none; /* kill the bullet points */
  padding-left: 10px; /* kill remaining padding left */
  margin-left: 10px;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 1.5px;
}
.list-inline > li {
  display: inline; /* change list item behavior to inline */
  padding: 0px 10px; /* add som left/right padding between list items */
}

.footer h2 {
	font-size: 1.5em;
	font-weight: lighter;
  padding-right: 10px; /* kill remaining padding left */
  margin-right: 10px;
}

