nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  background-color: #f0f0f0;
  margin-bottom: 50px;
}
nav.sticky{
  padding: 15px 20px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
  height: 100%;
  max-width: 1800px;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
	font-size: 1.5em;
	font-weight: lighter;
  color: black;
}
nav.sticky .logo a{
  color: black;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: black;
   text-decoration: underline;
 }
 nav.sticky .nav-links li a{
   color: black;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #0E2431;
  text-decoration: underline;
}
